@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
.flex{
    display: flex;
}
.main-backimage{
    padding: 0!important;
}
.content-generic{
    background: white ;
    flex-direction: column;
    font-family: 'Poppins';
    &-header{
        width: 100%;
        height: 644px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;

        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 2rem;
        &-title{
            text-align: center;
            .title{
                font-size: clamp(18px, 2vw, 26px);
                font-weight: bold;
                font-stretch: normal;
                font-style: normal;
                color: white;
            }
        }
        &-desc{
            justify-content: center;
            align-items: center;
            .intro{
                width: 870px;
                font-stretch: normal;
                font-style: normal;
                color: white;
                text-align: center;
            }
        }
    }
    &-info{
        justify-content: center;
        align-items: center;
        position: relative;
        width: 100%;
        max-width: 1560px;
        margin: 0 auto;
        &-detail{
            padding: 4rem 4rem;
            width: 100%;
            text-align: left;
        }
    }
}
@media(max-width: 800px) {
    .content-generic{
        &-header{
            height: 500px;
        }
    }
}