
.content__video__home{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 2rem 6rem;
    background-image: url('/templates/cip/img/background_convenio.png');
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 650px;
    justify-content: space-evenly;
    gap:2rem;
}

.content__video__home .text__video{
    flex-basis: 50%;
    width: 100%;
    padding-left: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.content__video__home .video__player{
    flex-basis : 45%; 
    width: 100%;  
    justify-content: center;
    display: flex;
    align-items: center;
}

.video__player iframe{
    width: 100%;
    height : 90%;
}

.title__video{
    font-family: Poppins;
    font-size : 30px;
    font-weight: bold;
    color: #FECE00;
}


.subtitle, .description__video{
    margin-top: 2rem;
    font-family: Poppins;
    font-size : 20px; 
    color: #fff;
}

@media only screen and (max-width: 1500px)  {
    .video__player iframe{
        width: 100%;
        height : 70%;
    }
    
}

@media only screen and (max-width: 1200px)  {
    .content__video__home{
        padding : 2rem 3rem;
    }
    .video__player iframe{
        width: 100%;
        height : 60%;
    }
    
}


@media only screen and (max-width: 900px)  {
    .content__video__home{
        flex-direction: column;
        padding : 2rem 3rem;
    }
    .content__video__home .text__video { 
        padding-left: 0rem; 
    }
    .video__player iframe{
        width: 100%;
        height : 400px;
    }
    .title__video{ 
        font-size : 25px; 
    }
 
    .subtitle, .description__video{ 
        font-size : 19px;  
    }
    
}

@media only screen and (max-width: 500px)  {
    .content__video__home{
        flex-direction: column;
        padding : 2rem 3rem;
    }
    .video__player iframe{
        width: 100%;
        height : 300px;
    }
    
    .title__video{ 
        font-size : 20px; 
    }
 
    .subtitle, .description__video{ 
        font-size : 16px;  
    }
    
}