/* slider principal */
#carouselPrincipal{
    max-height: 750px;
    .carousel-item {
        position: relative;
        max-height: 750px!important;
        content-visibility: auto;
        contain-intrinsic-size: 750px; /* Explained in the next section. */
        .image-slider{
            height: 750px!important;
            object-fit: cover;
        }
        &-video{
            width: 100%;
        }
        .carousel-caption-text-advanced{
            width: 100%;
            position: absolute;
            bottom: 0;
        }

    }
}